@import url("https://fonts.googleapis.com/css2?family=Bayon&display=swap");

* {
    font-family: "Bayon", sans-serif;
    font-weight: 400;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 5px 0 5px;
}

.toz {
    color: #fefdf9;
    background: rgba(12, 23, 28, 0.4);
    min-height: 100dvh;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    text-align: center;
}

.toz-timer {
    color: #24293c;
    font-size: 54px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    display: flex;
    width: 140px;
    height: 140px;
    background: rgba(247, 248, 242, 0.75);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toz-ec-d>div {
    text-align: center;
    display: flex;
    z-index: 1;
    flex-direction: column;
}

.toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.toz-unit {
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 18px;
}

.toz-divider {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8px;
    gap: 8px;
}

.toz-divider>span {
    width: 8px;
    height: 8px;
    background: white;
}

.toz-subscription,
li.splide__slide>div {
    color: #fefdf9;
}

li.splide__slide>div>h3,
li.splide__slide>div>p,
li.splide__slide>div>svg {
    color: #24293c;
}

p,
input,
textarea,
a,
span {
    font-family: 'Courier New', Courier, monospace !important;
}

.toz-form {
    gap: 8px;
}

.toz-input {
    font-size: 14px;
}

.toz-f-btn {
    color: #24293c;
    border-radius: 6px;
    background: #fefdf9;
}

/* social links */

.toz-social-link {
    background: #f7f8f2;
    color: #24293c;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
        gap: 5px;
    }

    .toz-timer {
        font-size: 36px;
        gap: 18px;
        padding: 0px;
    }

    .toz-timer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .toz-divider {
        margin-top: -19px;
    }

    #exc {
        display: none;
    }

    .toz-ec-d {
        width: 120px;
        height: 120px;
    }

    .toz-unit {
        font-size: 18px;
        margin-top: 10px;
    }

    .toz-divider {
        width: 70%;
    }
}
