@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.toz {
    color: #142a24;
    min-height: 100dvh;
}

p, span, a, h2{
    color: #142a24 !important;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    color: #142a24;
    font-size: 54px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    width: 160px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toz-ec-d>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin-top: 18px;
    z-index: 1;
}

.toz-ec-d img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.toz-unit {
    color: #cbe7df;
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.toz-subscription,
li.splide__slide>div {
    color: #142a24;
    border: 1px solid #142a24;
    background: #cbe7df;
    border-radius: 16px;
}

li.splide__slide>div>h3,
li.splide__slide>div>p,
li.splide__slide>div>svg {
    color: #142a24;
}

.toz-form {
    align-self: center;
    background: rgba(20, 42, 36, 0.25);
    border-radius: 20px;
    border: 1px solid #142a24;
}

.toz-input {
    font-size: 14px;
    color: #142a24 !important;
}

.toz-f-btn {
    color: #cbe7df;
    background: #142a24;
    border-radius: 20px;
}

/* social links */

.toz-social-link {
    background: #142a24;
    color: #cbe7df !important;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 36px;
        gap: 16px;
    }

    .toz-ec-d {
        width: 120px;
        height: 110px;
    }

    .toz-unit {
        font-size: 14px;
    }
}
