@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
    font-family: "Heebo", sans-serif;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 5px 0 5px;
}

.toz {
    color: #eeeca5;
    background: rgba(19, 14, 4, 0.1);
    min-height: 100dvh;
}

.toz-text-wrapper {
    display: flex;
    color: #eeeca5;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    display: flex;
    width: 140px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toz-ec-d > div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    line-height: 1;
    z-index: 1;
}

.toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.toz-unit {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
}

.toz-subscription,
li.splide__slide > div {
    color: #eeeca5;
    background: transparent;
    border: 1.5px solid #eeeca5;
    background: #85601b;
    border-radius: 18px;
}

li.splide__slide > div > h3,
li.splide__slide > div > p,
li.splide__slide > div > svg {
    color: #eeeca5;
}

.toz-form {
    gap: 10px;
}

.toz-input {
    font-size: 14px;
}

.toz-f-btn {
    color: #85601b;
    background: #eeeca5;
    border-radius: 20px;
}

/* social links */

.toz-social-link {
    background: #eeeca5;
    color: #85601b;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }
    .toz-timer {
        font-size: 34px;
        gap: 18px;
    }

    .toz-ec-d {
        width: 110px;
        height: 110px;
    }
    .toz-ec-d > div {
        line-height: 1.2;
    }
    .toz-unit {
        font-size: 14px;
    }
}
