@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap");


* {
    font-family: "Markazi Text", sans-serif;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px 5px 0 5px;
}

.toz {
    min-height: 100vh;
    background: rgba(250, 200, 204, 0.3);
    -webkit-backdrop-filter: blur(6.300000190734863px);
    backdrop-filter: blur(6.300000190734863px);
    color: #55080e;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    color: #710d19;
    font-size: 64px;
    font-weight: 700;
    border-radius: 12px;
    position: relative;
}

.toz-ec-d>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0px;
    line-height: normal;
}

.toz-unit {
    text-align: center;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
}

.toz-ec-d svg {
    width: 160px;
    height: 160px;
}

.toz-ec-d svg {
    position: absolute;
}

.toz-ec-d>svg>rect {
    width: 140px;
    height: 145px;
    fill: transparent;
    stroke: rgba(85, 8, 14, 0.5);
    stroke-width: 12px;
}

.toz-ec-d>svg>rect:nth-child(2) {
    stroke: #710d19;
    stroke-dasharray: 540;
    stroke-linecap: round;
}

.toz-subscription,
li.splide__slide>div {
    border-radius: 12px;
    background: #55080e;
}

li.splide__slide>div>h3,
li.splide__slide>div>p,
li.splide__slide>div>svg {
    color: #ffffff;
}

h4.toz-subtitle {
    margin: 0 auto;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.toz-form {
    gap: 5px;
    background: transparent;
}

.toz-input {
    color: #ffffff;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
}

.toz-input::placeholder {
    color: #ffffff;
}

.toz-f-btn {
    color: #55080e;
    border-radius: 8px;
    background: #ffffff;
}

/* social links */

.toz-social-link {
    color: #55080e;
    border-radius: 8px;
    background: #ffff;
}

.toz-watermark a {
    color: rgba(113, 13, 25, 0.5);
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 48px;
        padding: 0px;
    }

    .toz-ec-d {
        width: 100px;
        height: 100px;
        font-size: 32px;
    }

    .toz-unit {
        font-size: 16.09px;
        font-weight: 700;
    }

    .toz-ec-d>svg {
        width: 120px;
        height: 120px;
        left: -8px;
        top: 0;
    }

    .toz-ec-d>svg>rect {
        width: 110px;
        height: 100px;
        fill: transparent;
        stroke: rgba(0, 0, 0, 0.33);
        stroke-width: 10px;
    }

    .toz-ec-d>svg>rect:nth-child(2) {
        stroke-dasharray: 389;
        stroke-linecap: round;
    }
}
