@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap");

@font-face {
    font-family: "Ramadhan Amazing";
    src: url("../fonts/RamadhanAmazing-jEnDv.ttf");
}

* {
    font-family: "Crimson Pro", serif;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 5px 0 5px;
}

.toz {
    color: #bdd9cb;
    background: rgba(11, 19, 15, 0.2);
    min-height: 100dvh;
}

.toz-title, h3{
    font-family: "Ramadhan Amazing", cursive;
}

.toz-text-wrapper {
    display: flex;
    color: #bdd9cb;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    font-size: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    display: flex;
    width: 140px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toz-ec-d>div {
    color: #78a29b;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0b130f;
    display: flex;
    font-weight: 900;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.toz-unit {
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-text-stroke-width: 0.7px;
    font-size: 18px;
}

.toz-subscription,
li.splide__slide>div {
    background: rgba(11, 19, 15, 0.5);
    border-radius: 15px;
    color: #bdd9cb;
}

li.splide__slide>div>h3,
li.splide__slide>div>p,
li.splide__slide>div>svg {
    color: #bdd9cb;
}

.toz-form {
    gap: 10px;
}

.toz-input {
    color: #bdd9cb !important;
}

.toz-f-btn {
    background: #bdd9cb;
    border-radius: 20px;
    color: #0b130f;
}

.toz-social-link {
    background: #bdd9cb;
    color: #0b130f;
}

/* Mobile Styles */
@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 36px;
        -webkit-text-stroke-width: 0.5px;
        gap: 18px;
    }

    .toz-ec-d {
        width: 120px;
        height: 120px;
    }

    .toz-unit {
        -webkit-text-stroke-width: 0.3px;
        font-size: 18px;
    }

    .toz-input {
        font-size: 14px;
    }

    .toz-f-btn {
        font-size: 14px;
        padding: 0 5px;
    }
}
