@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rokkitt:ital,wght@0,100..900;1,100..900&family=Trochut:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer components {
    /* Width, height, and color of the scrollbar handle */
    ::-webkit-scrollbar {
        @apply w-1 h-1;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-red-400 rounded-lg;
    }

    /* Track color */
    ::-webkit-scrollbar-track {
        @apply bg-red-200;
    }

    .testimonials::after {
        content: '';
        @apply bg-gradient-to-r from-rose-400 to-red-800 backdrop-blur-[38px] opacity-90 absolute top-0 right-0 left-0 bottom-0 -z-10 rounded-xl;
    }

    .timer-template::after{
        content: '';
        @apply absolute top-0 bottom-0 left-0 right-0 bg-lime-950 bg-opacity-10 backdrop-blur-sm -z-10;
    }

    dl.flex.flex-wrap.items-center.text-center.gap-y-4{
        @apply justify-between;
    }
}

/* .splide__arrows {
    display: none;
} */

.timer-title-shadow{
    text-shadow: 0 3px 3px #013801, 3px 0 3px rgba(1, 56, 1, 0.25), 0 9px 3px rgba(1, 56, 1, 0.25), -6px 0 3px rgba(1, 56, 1, 0.25), 0 -6px 3px rgba(1, 56, 1, 0.25);
}

.timer-text{
    background: linear-gradient(180deg, #89f256 0%, #EAE8E9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timer-text-bg{
    background: linear-gradient(133deg, rgba(250, 226, 218, 0.11) 0%, rgba(217, 154, 114, 0.11) 100%);
}

#temail {
    color: #000000;
}

.splide__arrow {
    width: 1.2rem !important;
}

.splide__pagination {
    bottom: -1.8em !important;
}

.splide__track{
    padding: 10px !important;
}

@media (max-width: 767px) {
    body {
        background-size: contain;
        background-repeat: repeat;
        background-position: top;
    }
}


.splide__arrow--next{
    right: -1em !important;
}

.splide__arrow--prev{
    left: -1em !important;
}
