@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

* {
    font-family: "Libre Baskerville", serif;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 5px 0 5px;
}

.toz {
    color: #edebe6;
    background: rgba(17, 11, 8, 0.2);
    min-height: 100dvh;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    text-align: center;
}

.toz-timer {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: max-content;
    gap: 20px;
    margin: 0;
}

.toz-ec-d {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #644430;
    gap: 10px;
}

.toz-ec-d>div {
    line-height: 1;
}

.toz-unit {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.toz-divider {
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8px;
    gap: 8px;
}

.toz-divider>span {
    width: 8px;
    height: 8px;
    background: white;
}

.toz-subscription,
li.splide__slide>div {
    color: #edebe6;
    background: #644430;
}

li.splide__slide>div>h3,
li.splide__slide>div>p,
li.splide__slide>div>svg {
    color: #edebe6;
}

.toz-form {
    gap: 8px;
}

.toz-input {
    font-size: 14px;
}

.toz-f-btn {
    color: #644430;
    background: #edebe6;
}

/* social links */

.toz-social-link {
    background: #f7f8f2;
    color: #644430;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
        gap: 5px;
    }

    .toz-timer {
        font-size: 32px;
        gap: 18px;
        padding: 0px;
    }

    .toz-timer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    #exc {
        display: none;
    }

    .toz-ec-d {
        width: 120px;
        height: 120px;
        gap: 5px;
    }

    .toz-unit {
        font-size: 14px;
        margin-top: 10px;
    }

    .toz-divider {
        width: 70%;
    }
}
