@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: "Titillium Web", sans-serif;
}

body {
    margin: 0 auto;
    background: url("../images/bg.webp"), lightgray 50%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 5px 0 5px;
}

.toz {
    background: rgba(20, 40, 24, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    min-height: 100vh;
    color: #c9d3df;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 20px;
    text-align: center;
}

.toz-timer {
    color: #142818;
    width: 700px;
    text-align: center;
    align-items: center;
    display: grid;
    font-size: 48px;
    grid-template-columns: repeat(7, 1fr);
}

.toz-t-w {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    width: 150px;
    height: 150px;
    background: rgba(201, 211, 223, 0.5);
    box-shadow: 0px 0px 4px 3px rgba(20, 40, 24, 0.25),
        0px 4px 4px 0px rgba(20, 40, 24, 0.25);
    border-radius: 100%;
}

.toz-unit {
    font-size: 18px;
}

.toz-subscription,
li.splide__slide>div {
    border-radius: 7px;
    background: rgba(201, 211, 223, 0.5);
    box-shadow: 0px 0px 4px 3px rgba(20, 40, 24, 0.25);
}

li.splide__slide>div>h3,
li.splide__slide>div>p {
    color: #c9d3df;
}

li.splide__slide>div>svg>path {
    fill: #c9d3df;
}

.toz-subscription-subtitle {
    color: #142818;
}

.toz-form {
    border-radius: 20px;
    background: rgba(20, 40, 24, 0.5);
}

.toz-input,
.toz-input::placeholder {
    color: #c9d3df;
}

.toz-f-btn {
    color: #c9d3df;
    border-radius: 20px;
    background: #142818;
}

/* social links */

.toz-social-link {
    background: #142818;
    color: #c9d3df;
}

.toz-watermark a {
    color: #c9d3df;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .toz-t-w {
        width: 120px;
        height: 120px;
    }

    .toz-timer>span {
        font-size: 36px;
    }

    .toz-unit {
        font-size: 16px;
    }

    .toz-divider-2 {
        display: none;
    }
}
