@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");

* {
    font-family: "Scope One", serif;
    font-weight: 400;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.toz {
    color: #e6cac1;
    min-height: 100dvh;
}

.toz-text-wrapper {
    display: flex;
    color: #e6cac1;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    display: flex;
    width: 135px;
    height: 135px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toz-ec-d > div {
    text-align: center;
    display: flex;
    align-items: end;
    line-height: 0.8;
    z-index: 1;
}

.toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.toz-unit {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 1.1;
}

.toz-subscription,
li.splide__slide > div {
    color: #e6cac1;
    border-radius: 12px;
    border: 1.5px solid #e6cac1;
    background: rgba(41, 23, 17, 0.25);
}

li.splide__slide > div > h3,
li.splide__slide > div > p,
li.splide__slide > div > svg {
    color: #e6cac1;
}

.toz-form {
    gap: 10px;
}

.toz-input {
    font-size: 14px;
}

.toz-f-btn {
    background: #e6cac1;
    border-radius: 20px;
    color: #a65c44;
}

/* social links */

.toz-social-link {
    background: #e6cac1;
    color: #a65c44;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 32px;
        gap: 16px;
    }

    .toz-ec-d {
        width: 110px;
        height: 110px;
    }

    .toz-unit {
        font-size: 16px;
    }
}
