<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sports</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <!-- Main Timer Template-->
    <div class="toz">
        <main class="toz-main">
            <div class="toz-text-wrapper">
                <h1 class="toz-title">Kick Off Your Passion</h1>
                <h2 class="toz-subtitle">
                    Lace up your cleats, don your team colors, and get ready to experience the pulse-pounding excitement
                    of football like
                    never before!
                </h2>
            </div>
            <!-- Event timer/counter -->
            <div class="toz-timer">
                <!-- Days -->

                <div class="toz-ec-d">
                    <img src="/images/timer_icon.png" alt="timer icon" />
                    <div>
                        <div class="toz-days" id="toz-days">
                            365
                        </div>
                        <span class="toz-unit">Days</span>
                    </div>
                </div>

                <!-- Hours -->
                <div class="toz-ec-d">
                    <img src="/images/timer_icon.png" alt="timer icon" />
                    <div>
                        <div class="toz-hours" id="toz-hours">
                            24
                        </div>
                        <span class="toz-unit">Hrs</span>
                    </div>
                </div>

                <!-- Minutes -->

                <div class="toz-ec-d">
                    <img src="/images/timer_icon.png" alt="timer icon" />
                    <div>
                        <div class="toz-mins" id="toz-mins">
                            60
                        </div>
                        <span class="toz-unit">Mins</span>
                    </div>
                </div>

                <!-- Seconds -->

                <div class="toz-ec-d">
                    <img src="/images/timer_icon.png" alt="timer icon" />
                    <div>
                        <div class="toz-secs" id="toz-secs">
                            60
                        </div>
                        <span class="toz-unit">Secs</span>
                    </div>
                </div>
            </div>
        </main>
        <footer class="toz-watermark">
            <span>Powered by</span>
            <a href="#">TinyTi.me</a>
        </footer>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>