@import url("https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap");
* {
    font-family: "B612", sans-serif;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.toz {
    color: #d7d0c3;
    min-height: 100dvh;
}

.toz-text-wrapper {
    display: flex;
    color: #d7d0c3;
    flex-direction: column;
    width: 70%;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    font-size: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    display: flex;
    width: 140px;
    height: 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.toz-ec-d > div {
    color: #163311;
    text-align: center;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    z-index: 1;
}

.toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.toz-unit {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.toz-subscription,
li.splide__slide > div {
    color: #163311;
    border-radius: 12px;
    background: #d7d0c3;
}

li.splide__slide > div > h3,
li.splide__slide > div > p,
li.splide__slide > div > svg {
    color: #163311;
}

.toz-form {
    gap: 10px;
}

.toz-input {
    font-size: 14px;
}

.toz-f-btn {
    border-radius: 20px;
    color: #d7d0c3;
    background: #163311;
}

/* social links */

.toz-social-link {
    background: #163311;
    color: #d7d0c3;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 30px;
        gap: 16px;
    }

    .toz-ec-d {
        width: 110px;
        height: 110px;
    }

    .toz-unit {
        font-size: 12px;
    }
}
