@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
    font-family: "Redressed", cursive;
    font-weight: 400;
}

body {
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 5px 0 5px;
}

.toz {
    color: #f0e8dd;
    background: rgba(23, 17, 10, 0.2);
    min-height: 100dvh;
}

.toz-text-wrapper {
    color: #f0e8dd;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    gap: 10px;
}

.toz-timer {
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}
.toz-ec-d {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
}
.toz-ec-d > img {
    position: absolute;
    z-index: 0;
    height: 96%;
    width: 96%;
}
.toz-ec-d > div {
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: center;
    line-height: 1;
    gap: 2px;
}
.toz-unit {
    font-size: 18px;
}

.toz-subscription,
li.splide__slide > div {
    color: #f0e8dd;
    border: 1px solid #f0e8dd;
    background: rgba(59, 38, 23, 0.25);
    border-radius: 16px;
}

li.splide__slide > div > h3,
li.splide__slide > div > p,
li.splide__slide > div > svg {
    color: #f0e8dd;
}

.toz-form {
    gap: 10px;
}

.toz-input {
    font-size: 16px;
}

.toz-f-btn {
    color: #9a471c;
    background: #f0e8dd;
    border-radius: 20px;
}

/* social links */

.toz-social-link {
    background: #f0e8dd;
    color: #9a471c;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 32px;
        gap: 16px;
    }

    .toz-ec-d {
        width: 105px;
        height: 105px;
    }
    .toz-ec-d > div {
        width: 78px;
    }
    .toz-unit {
        font-size: 14px;
    }
}
