@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
    --primary-color: #eaedf5;
    --secondary-color: #1b2338;
    --input-background: rgba(27, 35, 56, 0.25);
    --background-color: rgba(15, 20, 31, 0.2);
}

* {
    font-family: "Quicksand", sans-serif;
}

.toz {
    color: var(--primary-color);
    background: var(--background-color);
    min-height: 100dvh;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    gap: 10px;
}
.toz-timer {
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: max-content;
    margin: 0;
}
.toz-ec-d {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: relative;
}
.toz-ec-d > div {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    line-height: 1;
    gap: 2px;
}
.toz-ec-d > img {
    position: absolute;
    z-index: 0;
    height: 95%;
    width: 95%;
}
.toz-ec-d svg {
    position: absolute;
    z-index: 1;
}
.toz-ec-d > svg > circle {
    stroke: var(--primary-color);
    stroke-dasharray: 408.41;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 3px;
}
.toz-unit {
    font-size: 18px;
}

.toz-subscription,
li.splide__slide > div {
    border-radius: 16px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: var(--input-background);
}

li.splide__slide > div > h3,
li.splide__slide > div > p,
li.splide__slide > div > svg {
    color: var(--primary-color);
}

.toz-form {
    gap: 10px;
}

.toz-input {
    font-size: 16px;
}

.toz-f-btn {
    color: var(--secondary-color);
    background: var(--primary-color);
    border-radius: 20px;
}

/* social links */

.toz-social-link {
    background: var(--primary-color);
    color: var(--secondary-color);
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 32px;
        gap: 16px;
    }

    .toz-ec-d {
        width: 105px;
        height: 105px;
    }
    .toz-ec-d > div {
        width: 78px;
    }
    .toz-ec-d > svg {
        width: 100px;
        height: 100px;
    }
    .toz-ec-d svg circle {
        r: 45px;
        cx: 50px;
        cy: 50px;
    }
    .toz-ec-d > svg > circle:nth-child(2) {
        stroke-width: 6px;
        stroke-dasharray: 282.74;
    }
    .toz-unit {
        font-size: 14px;
    }
}
