@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600;700&display=swap');

body {
    background:
        url("../images/bg.webp"), lightgray 50%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Antonio', sans-serif;
    color: #C7C7A7;
}

main {
    max-width: 100% !important;
    max-height: 100% !important;
    margin: 0 !important;
}

.toz {
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    max-width: 100%;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 850px;
    gap: 20px;
    text-align: center;
}

.toz-timer {
    font-size: 44px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: max-content;
    margin: 0;
}

.toz-ec {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

.toz-ec-d {
    display: flex;
    width: 170px;
    height: 170px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    position: relative;
}

.toz-ec-d>div {
    color: #2B6A31;
    text-align: center;
    display: flex;
    gap: 10px;
    z-index: 1;
    flex-direction: column;
}

.toz-ec-d img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.toz-unit {
    display: flex;
    justify-content: center;
}

.toz-unit {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.toz-subscription,
li.splide__slide>div {
    color: #C7C7A7;
    border-radius: 12px;
    border: 1px solid #C7C7A7;
    background: rgba(43, 106, 49, 0.25);
}

li.splide__slide>div>p,
li.splide__slide>div>h3 {
    color: #C7C7A7 !important;
}

.toz-form {
    background: transparent !important;
    gap: 5px;
}

.toz-input {
    color: #C7C7A7;
    border-radius: 30px;
    border: 1px solid #C7C7A7;
    background: rgba(43, 106, 49, 0.50);
}

#temail,
#temail::placeholder {
    color: #C7C7A7 !important;
}

.toz-f-btn {
    color: #2B6A31;
    border-radius: 30px;
    background: #C7C7A7;
}

/* social links */

.toz-sl a {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 24px;
    background: #C7C7A7;
}

.toz-watermark a {
    color: rgba(199, 199, 167, 0.50);
}

@media (max-width: 767px) {

    .left,
    .right {
        width: 50px;
    }

    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 33px;
        gap: 18px;
        padding: 0px;
        font-family: 'Antonio', sans-serif;
        filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    }

    .toz-ec-d {
        width: 130px;
        height: 130px;
    }

    .toz-unit {
        font-size: 14px;
    }
}
