@font-face {
    font-family: "Comic Sans MS";
    src: url("../../dark-blue-sequins/font/LDF-ComicSans/LDFComicSansBold.ttf"), format("ttf");
}

* {
    font-family: "Teko", sans-serif;
}

body {
    max-width: 100dvw;
    margin: 0 auto;
}

body {
    background-image: url("../../dark-blue-sequins/images/bg.png");
    background-position: center;
    font-family: "EB Garamond";
    background-repeat: repeat;
    background-size: cover;
}

.toz-bg-timer {
    border-radius: 4.699px;
    background: rgba(4, 98, 105, 0.48);
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(4.822473526000977px);
    backdrop-filter: blur(4.822473526000977px);
}

.toz-title {
    color: #11a6a7;
    font-family: "Comic Sans MS";
}

.toz-timer>div {
    font-family: "Comic Sans MS";
    font-size: 96px;
    font-style: normal;
    -webkit-text-stroke: 4px #11a6a7;
    -webkit-text-fill-color: transparent;
    line-height: normal;
}

.toz-time-divide{
    font-size: 65px !important;
}

.toz-form:focus-within {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
    border-color: #2563eb;
}

.toz-sl a:hover,
.toz-f-btn:hover {
    color: #2563eb;
}

/* Mobile/Tablets */

@media (max-width: 767px) {
    .toz-timer>div {
        font-size: 80px;
        -webkit-text-stroke: 1px #11a6a7;
    }

    .toz-time-divide {
        font-size: 38px !important;
    }
}

@media (max-width: 381px) {
    .toz-timer>div {
        font-size: 59px;
        -webkit-text-stroke: 1px #11a6a7;
    }
}
