@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

* {
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0 auto;
    background: url("../images/bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.toz {
    min-height: 100dvh;
    color: #fbe7e2;
}

.toz-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    text-align: center;
}

.toz-timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: max-content;
    margin: 0;
}

.toz-ec-d {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    border-radius: 100%;
    background: transparent;
    position: relative;
}

.toz-ec-d>div {
    width: 135px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    background: transparent;
    border: 2px solid #fbe7e2;
    border-radius: 100%;
}

.toz-unit {
    font-size: 18px;
    font-weight: 400;
}

.toz-ec-d svg {
    position: absolute;
    left: -20px;
    z-index: 1;
    transform: rotate(-180deg);
}

.toz-timer-knob {
    width: 10px;
    height: 10px;
    position: absolute;
    left: -3.5%;
    bottom: 45%;
    border-radius: 100%;
    background: #fbe7e2;
    z-index: 10;
}

.toz-ec-d>svg>circle {
    fill: transparent;
    stroke-width: 0;
}

.toz-ec-d>svg>circle:nth-child(2) {
    stroke: #fbe7e2;
    stroke-width: 2px;
    stroke-dasharray: 471;
    stroke-linecap: round;
}

.toz-subscription,
li.splide__slide>div {
    color: #2a0d06;
    border-radius: 12px;
    background: #fbe7e2;
}

li.splide__slide>div>h3,
li.splide__slide>div>p,
li.splide__slide>div>svg {
    color: #2a0d06;
}

.toz-form {
    border-radius: 20px;
    background: rgba(42, 13, 6, 0.25);
}

.toz-input,
::placeholder {
    color: #2a0d06;
}

.toz-f-btn {
    color: #fbe7e2;
    border-radius: 20px;
    background: #2a0d06;
}

/* social links */
.toz-social-link {
    color: #fbe7e2;
    background: #2a0d06;
}

@media (max-width: 767px) {
    .toz-text-wrapper {
        width: 100%;
    }

    .toz-timer {
        font-size: 48px;
        gap: 18px;
        padding: 0px;
    }

    .toz-ec-d {
        width: 120px;
        height: 120px;
        font-size: 40px;
    }

    .toz-ec-d>div {
        width: 105px;
        height: 105px;
    }

    .toz-ec-d svg {
        width: 130px;
        height: 130px;
        top: auto;
        left: auto;
    }

    .toz-unit {
        font-size: 14px;
    }

    .toz-ec-d svg circle {
        r: 58px;
        cx: 65px;
        cy: 65px;
        stroke-width: 4px;
    }

    .toz-timer-knob {
        left: -1.5%;
        width: 8px;
        height: 8px;
    }

    .toz-ec-d>svg>circle:nth-child(2) {
        stroke-dasharray: 365;
        stroke-linecap: round;
    }

    .toz-unit {
        font-size: 12px;
    }
}
